/* --- CHECKOUT SPLIT LAYOUT --- */
.checkout-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-panel {
    width: 680px;
    height: 100%;
    background: white;
    border-right: 1px solid #D9D9D9;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
}

.right-panel {
    flex: 1;
    height: 100%;
    background: white;
}

/* --- LEFT PANEL ELEMENTS --- */
.add-user-btn {
    width: 680px;
    height: 107px;  
    background: #FAFAFA;
    color: #B7B7B7;

    border: none;
    border-right: 1px solid #D9D9D9;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;

    cursor: pointer;
    transition: background 0.2s;
}

.add-user-btn:hover {
    background: #F0F0F0;
    color: #808080;
}

.btn-content-left {
    display: flex;
    align-items: center;
    gap: 60px;
}

.btn-text {
    font-size: 24px;
    font-weight: 700;
}

.checkout-items-list {
    flex: 1;
    overflow-y: auto;
    padding: 50px 50px 30px 50px; /* Top, Right, Bottom, Left */
}

.checkout-item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    font-weight: 600;
    color: #333;
}

.item-qty {
    width: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.item-name {
    flex: 1;
    padding: 20px;
    font-size: 20px;
    color: #525252;
}

.item-price {
    text-align: right;
    min-width: 100px;
    font-size: 20px;
}

.empty-message {
    text-align: center;
    color: #aaa;
    margin-top: 40px;
    font-style: italic;
}

.checkout-footer {
    border-top: 1px solid #E5E5E5;
    padding: 45px 55px 50px 55px; /* Top, Right, Bottom, Left */
    background: white;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #666;
}

.summary-value {
    color: #000;
    font-weight: 700;
}

/* --- RIGHT PANEL ELEMENTS --- */

.total-price-container {
    height: 95px;
    width: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.total-price {
    font-size: 64px;
    font-weight: 700;
}