.queue-header {
    width: 100%;
    height: 162px;
    background: #fff;

    display: flex;

    padding: 20px 25px 20px 25px;
    justify-content: space-between;
}

.summary-container {
    width: 444.9px;
    height: 120.66px;

    border: 1px solid #D9D9D9;
    border-radius: 7px;
}

.summary-header {
    padding: 20px 0 0 30px;
    display: block;

    font-size: 20px;
    letter-spacing: 1px;
}

.summary-content {
    padding: 0 0 0 30px;
    display: block;

    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
}